$uni-color-primary: #2e7d52;
$uni-color-success: #2e7d52;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #202324;
$uni-text-color-grey: #5c6560;
$uni-bg-color: #fff;
$uni-bg-color-grey: #eef2ef;
